body, html {
    font-family: "Futura", sans-serif;
    height: 100%;
    background: #073b4c;
}

h1 {
    font-family: "Futura", sans-serif;
    text-align: center;
    color: #ffd166;
    -webkit-text-stroke: 2px #ef476f;
    letter-spacing: 40px;
    font-size: 50px;
    margin-bottom: -10px;
}

h2, h3, h4 {
    text-align: center;
    color: #ffd166;
}

.options {
    display: flex;
    justify-content: space-between;
    margin-left: 15.35%;
    margin-right: 14.6%;
    margin-top: 45px;
    margin-bottom: 18px;
    
}

.red-score {
    color: #ef476f;
}

.blue-score {
    color: #118ab2;
}

.option {
    color: black;
    background-color: #06d6a0;
    font-size: 15px;
    font-family: Lucida Grande, Futura;
    border-width: 0px;
    border-radius: 5px;
    margin: 3px;
    transition: 0.4s;
    flex: 0 1 calc(18%);
}

.score {
    position: relative;
    top: 2px;
    font-size: 1.6rem;
}

.option:hover {
    bottom: 2px;
    box-shadow: 0px 3px 5px#ef476f;
    transform: translateY(-2px);
    cursor: pointer;
}

.grid {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-left: 15%;
    margin-right: 15%;
}

.grid-button {
    color: black;
    background-color: #ffd166;
    font-size: 15px;
    padding: 20px 0px;
    width: 100%;
    font-family: Lucida Grande, Futura;
    border-width: 0px;
    border-radius: 5px;
    margin: 3px;
    transition: 0.4s;
}

.button-div {
    flex: 0 1 calc(19%);
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.grid-button:hover, .grid-button:active{
    background-color: #06d6a0;
    bottom: 2px;
    box-shadow: 0px 3px 5px#ef476f;
    transform: translateY(-2px);
    cursor: pointer;
}

.grid-button-clicked {
    font-size: 15px;
    padding: 20px 0px;
    width: 100%;
    font-family: Lucida Grande, Futura;
    border-width: 0px;
    border-radius: 5px;
    margin: 3px;
    transition: 0.4s;
}

.tag {
    color: rgb(60%,60%,60%);
    text-align: right;
    margin-right: 14.8%;
}